:root {
  --main-color: #757575;
  --secondary-color: #212121;
  --extra-color: #f5f4fa;

  --accent-color: #2196f3;
  --white-color: #ffffff;
  --grey-color: #2f303a;

  --icons-color: #afb1b8;

  --transition-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.body {
  background-color: var(--white-color);
  color: var(--main-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* PAGE-HEADER */

.page-header {
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 25px;
}

.page-header .container {
  display: flex;
}

/* NAV */

.main-nav,
.auth-nav,
.site-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 93px;
}

.header-logo,
.footer-logo {
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.header-logo-span {
  color: var(--secondary-color);
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav-link {
  position: relative;

  color: var(--secondary-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-link.active {
  color: var(--accent-color);
}

.site-nav-link.active::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 4px;

  position: absolute;
  bottom: 0;
  left: 0;
  transform: translatey(33px);

  background-color: var(--accent-color);
  border-radius: 2px;
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

.auth-nav .item:last-child {
  margin-left: 50px;
}

.auth-nav {
  margin-left: auto;
}

.auth-nav .item {
  fill: var(--main-color);
}

.auth-nav-link {
  display: flex;
  align-items: center;
  color: inherit;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav-icon {
  margin-right: 10px;
}

.auth-nav-link:hover,
.auth-nav-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

/* HERO */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;

  background-color: var(--grey-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/banner-img.jpg');
}
.hero-title {
  margin-bottom: 30px;

  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* BUTTONS */
.hero-button {
  min-width: 200px;
  display: block;
  padding: 10px 22px 10px 22px;
  margin-left: auto;
  margin-right: auto;

  color: var(--white-color);
  background-color: var(--accent-color);

  font-family: roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border-radius: 4px;

  border-style: hidden;
  letter-spacing: 0.06em;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

.filter-button {
  padding: 6px 22px 6px 22px;

  color: var(--secondary-color);
  background-color: var(--extra-color);

  font-family: roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-button.active {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  color: var(--white-color);
  background-color: var(--accent-color);
}

.modal-close-button {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  padding: 0px;

  cursor: pointer;

  background-color: var(--white-color);
}

.close-icon {
  fill: #000000;
  transition: fill var(--transition-cubic);
}

.close-icon:hover,
.modal-close-button:focus {
  fill: var(--accent-color);
}

/* SECTION  */

.section .main-titel {
  color: var(--secondary-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* VISUALI HIDDEN */

.visuali-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ADVANTAGES */
.advantages-list {
  display: flex;
}

.advantages-item {
  margin-right: 30px;
  width: calc((100% - 90px) / 4);
}

.advantages-item:nth-child(4n) {
  margin-right: 0;
}

.advantages-title {
  color: var(--secondary-color);

  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages-text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
}

.advantages-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;

  border-radius: 4px;
  background-color: var(--extra-color);
}

/* OUR-WORK */

.our-work {
  padding-top: 0px;
}

.work-list {
  margin-top: 50px;
  display: flex;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

.work-item-wrapper {
  position: relative;
}

.work-text {
  position: absolute;
  left: 0px;
  bottom: 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 70px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  background-color: rgba(47, 48, 58, 0.8);
  color: var(--white-color);
}

/* TEAM */

.ourteam-section {
  background-color: var(--extra-color);
}

.team-list,
.social-links {
  display: flex;
}

.team-item {
  width: calc((100% -90px) / 4);
  margin-right: 30px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--white-color);
  text-align: center;
}

.team-item:nth-child(4n) {
  margin-right: 0px;
}

.team-list {
  margin-top: 50px;
}

.team-name-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
}

.team-title {
  margin-bottom: 10px;

  color: var(--secondary-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links_social-items {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white-color);

  fill: var(--icons-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links {
  margin-top: 16px;
}

.social-links .links-item:not(:last-child) {
  margin-right: 10px;
}

.social-links_social-items:hover,
.social-links_social-items:focus {
  background-color: var(--accent-color);
}

.social-links_social-items .icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links_social-items:hover .icon,
.social-links_social-items:focus .icon {
  fill: var(--white-color);
}
/* CLIENTS */

.clients-list {
  display: flex;
  margin-top: 50px;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  border: 1px solid var(--icons-color);
  border-radius: 4px;

  fill: var(--icons-color);

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
}

.clients-link .icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .icon,
.clients-link:focus .icon {
  fill: var(--accent-color);
}

/* PROJECTS PORTFOLIO */

.section-title-our-portfolio {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filters-list {
  display: flex;
  justify-content: center;
}

.filters-item:not(:last-child) {
  margin-right: 8px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;

  margin-top: 50px;
}

.projects-item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.projects-item:nth-child(3n) {
  margin-right: 0px;
}

.projects-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.projects-link {
  display: block;
  color: var(--main-color);

  font-size: 16px;
  line-height: 1.88;
  text-decoration: none;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-link:hover,
.projects-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-card-wrapper {
  padding: 20px 24px 20px 24px;

  border: 1px solid #eeeeee;
  border-top: none;
}

.projects-title {
  color: var(--secondary-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.projects-text {
  margin-top: 4px;
}

.projects-img-wrapper {
  display: block;
  width: 100%;
  height: 100%;

  position: relative;

  overflow-y: hidden;
}

.projects-img-text {
  position: absolute;

  padding: 63px 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  /* or 156% */

  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-link:hover .projects-img-text,
.projects-link:focus .projects-img-text {
  transform: translatey(-100%);
}

/* CONNECT */

.connect {
  margin-left: 70px;
}

.connect-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.connect-links {
  display: flex;
  margin-top: 20px;
}

.connect-links_social-items {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  fill: var(--white-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.connect-links .links-item:not(:last-child) {
  margin-right: 10px;
}

.connect-links_social-items:hover,
.connect-links_social-items:focus {
  background-color: var(--accent-color);
}

/* email-input */

.footer-email-form-container {
  margin-left: 93px;
}

.footer-email-input-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.footer-email-form {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.footer-email-input {
  width: 358px;
  height: 50px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  display: flex;
  align-items: center;

  color: var(--white-color);

  padding: 16px 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
}

.footer-email-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-email-submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  padding: 0px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);

  background-color: #2196f3;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-email-submit-button:hover,
.footer-email-submit-button:focus {
  background-color: #188ce8;
}

.icon-send {
  margin-left: 10px;
  fill: #ffffff;
}

/* BACKDROP */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* MODAL */

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-contact-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal-contact-form-list {
  list-style: none;
}

.modal-contact-form-list-item {
  margin-bottom: 10px;
}

.modal-contact-form-list-item:last-child {
  margin-bottom: 20px;
}

.modal-contact-form-title {
  margin-bottom: 14px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-color);
}

.modal-contact-field-type {
  display: block;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--main-color);
}

.modal-contact-field-wrapper {
  position: relative;
  display: flex;
}

.modal-contact-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color var(--transition-cubic);
}

.modal-contact-input-icon {
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  position: absolute;

  transition: fill var(--transition-cubic);
}

.modal-contact-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-contact-input:focus + .modal-contact-input-icon {
  fill: var(--accent-color);
}

.modal-contact-message {
  display: block;
  width: 100%;
  height: 120px;

  padding: 12px 16px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  resize: none;

  transition: border-color var(--transition-cubic);
}

.modal-contact-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);

  background-color: #2196f3;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-contact-form-button:hover,
.modal-contact-form-button:focus {
  background-color: #188ce8;
}

.modal-contact-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-contact-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-contact-field-policy {
  display: flex;
  align-items: center;
  align-self: center;

  margin-bottom: 30px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-color);
}

.modal-contact-field-policy:before {
  content: '';
  display: inline-block;

  margin-right: 9px;

  width: 16px;
  height: 15px;

  border: 2px solid var(--secondary-color);
  border-radius: 2px;

  transition: border-color var(--transition-cubic), background-color var(--transition-cubic);

  cursor: pointer;
}

.modal-contact-field-policy-checkbox:focus + .modal-contact-field-policy:before {
  border-color: var(--accent-color);
}

.modal-contact-field-policy-checkbox:checked + .modal-contact-field-policy:before {
  background-size: contain;
  background-position: center;
  background-image: url(../images/icon-check.svg);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.terms-of-an-agreement {
  text-decoration: underline;
  color: var(--accent-color);
}

/* FOOTER */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--grey-color);
  margin-right: auto;
  margin-left: auto;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-address {
  width: 231px;
  margin-top: 20px;
}

.footer-logo {
  display: inline-block;
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  font-style: normal;
  text-decoration: none;
}

.footer-logo.span {
  color: var(--white-color);
}

.footer-link.address {
  display: flex;
}

.item-address .footer-link {
  color: rgba(255, 255, 255, 0.6);

  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-address .footer-link:hover,
.item-address .footer-link:focus {
  color: var(--accent-color);
}

.item-address .footer-link.address {
  color: var(--white-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-address .footer-link.address:hover,
.item-address .footer-link.address:focus {
  color: var(--accent-color);
}

.address .item-address:not(:last-child) {
  margin-bottom: 9px;
}
