    @import "./utils/variables";
    @import "./utils/visually-hidden";
  
    @import "./base/common";
    @import "./base/container";
    @import "./base/section";
  
    @import "./layout/body";
    @import "./layout/header";
    @import "./layout/hero";
    @import "./layout/advantages";
    @import "./layout/our-work";
    @import "./layout/our-team";
    @import "./layout/clients";
    @import "./layout/projects";
   
    @import "./components/main-title";
    @import "./components/modal-button";
    @import "./components/filter";
    @import "./components/filter-button";
    @import "./components/modal__close-button";
    @import "./components/logo";
    @import "./components/nav/nav";
    @import "./components/nav/site-nav";
    @import "./components/nav/contacts-nav";
    @import "./components/social-links";
